@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-hue: 85;

  --primary: var(--primary-hue), 61%, 21%;
  --accent: var(--primary-hue), 41%, 41%;

  --dark: 0, 0%, 8%;
  --light: var(--primary-hue), 100%, 92%;

  --content-w: 40rem;
}

html {
  box-sizing: border-box;
}

body {
  color: hsl(var(--light));
  background-color: hsl(var(--dark));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding-top: 2rem;
}

.navigation__container {
  background-color: hsl(var(--primary));
  position: fixed;
  width: 100vw;
  top: 0;
  border-bottom: 2px solid hsl(var(--accent));
  display: flex;
  justify-content: center;
}

.navigation__content {
  width: var(--content-w);
  display: flex;
  justify-content: space-between;
}

.post__container {
  width: var(--content-w);
  margin: auto;
}