@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-hue: 95;

  --primary: var(--primary-hue), 85%, 19%;
  --accent: var(--primary-hue), 55%, 39%;

  --dark: 0, 0%, 8%;
  --light: var(--primary-hue), 100%, 92%;

  --content-w: 40rem;
}

html {
  box-sizing: border-box;
}

body {
  color: hsl(var(--light));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-color: hsl(var(--primary), .4);
    padding-top: 2rem;
}

.navigation__container {
  background-image: linear-gradient(to bottom,  hsl(var(--dark)) -170%, hsl(var(--light), .7) 65%), url('/assets/mtwashington.png');
  background-position: center center;
  background-size: 60vw;
  background-color: hsl(var(--light));
  position: fixed;
  width: 100vw;
  top: 0;
  border-bottom: 2px solid hsl(var(--accent));
  display: flex;
  justify-content: space-between;
}

.navigation__content {
  width: var(--content-w);
  display: flex;
  justify-content: space-between;
}

.post__container {
  width: var(--content-w);
  margin: auto;
}

.logo {
  width: 3rem;
}

.brand {
  color: hsl(var(--primary));
}

.brand div span {
  font-weight: 700;
  font-variant: small-caps;
  line-height: .8;
  font-size: 1.3rem;
}
